{% include "header.html" %}

<!-- Page Header-->
<header
  class="masthead"
  style="background-image: url('../static/assets/img/about-bg.jpg')"
>
  <div class="container position-relative px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <div class="page-heading">
          <h1>About Us</h1>
          <span class="subheading">Wineba's first physiotherapy center .</span>
        </div>
      </div>
    </div>
  </div>
</header>
<!-- Main Content-->
<main class="mb-4">
  <div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <p>
          Founded in 2023, Seaside Physiotherapy &amp; Rehabilitation Centre is
          a premier place for physiotherapy at Winneba and its surroundings in
          the Central Region of Ghana.
        </p>
        <p>
          Our initial and most important focus is on You, the Patient. Our aim
          is to give you consistent and conscientious care, which leads to
          better outcomes. Our detailed initial consultation helps our
          physiotherapists to better understand your problems.
        </p>
        <p>
          Our treatment plans are developed with your goals in mind. This may be
          a combination of Hands on Techniques as well as carefully thought out
          Exercise Plans. We will tailor your plan to fit you. If you are in the
          Winneba area or any of the surrounding townships, and you are looking for
          relief, look no further.
        </p>

        <p>
          Seaside Physiotherapy and Rehabilitation Centre is here to help you.
          Call us at +233 053 44 88 673 to schedule a consultation with one of
          our Physiotherapists today! Start the path to your recovery at Seaside
          Physiotherapy and Rehabilitation Centre today!
        </p>
        <p>
          <strong>Our team</strong>
          Seaside Physiotherapy &amp; Rehabilitation Centre has two
          physiotherapists, one assistant and one intern. Our physiotherapists
          are compassionate and caring, and eager to help our patients to
          relieve their pain. They will be happy to work with you and whatever
          you are struggling with. They will work hard not only to get to the
          root of your problems and provide quality treatment for the pain you
          are currently experiencing, but they will also use their abilities to
          provide you with injury prevention services for the future. Our
          treatment
        </p>

        <p>
          We create positive experiences by offering professionalism, proven
          treatment methods and results that count. Treatment plans are
          individualized for each patient and are aimed towards the achievements
          of your goals. When you arrive one of our physiotherapists will design
          a treatment plan just for you, taking into account your medical
          symptoms.
        </p>
      </div>
    </div>
  </div>
</main>

{% include "footer.html" %}
